#artistMedium {
    font-size: 35px;
}

#artistInfo {
    font-size: 50px;
}

#description {
    font-size: 22px;
    margin-bottom: 35px;
}

.details {
    margin: auto;
    width: 60%;
    padding: 10px;
}

#artistGallery:hover{
    color:rgb(186, 156, 211);
    
}

#artistGallery {
    font-size: 35px;
    width: 35%;
    cursor: pointer;
}


.selfie {
    max-width: 350px;
    max-height: 350px;
    float:right;
    margin-left: 50px;
    border: inset #b98e71 8px;
 
}