.mainImage{
    width: 35%;
    height: 35%;
    margin-top: 40px;
    margin-left: 325px;
    display: block;
    border: inset #b98e71 25px;
    border-radius: 2px;
    box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
}
.artistList {
    column-width: 150px;
    columns: 2;
    list-style: none;
    font-size: 30px;
    margin-left: 220px;
    /* margin-top: 50px; */
    margin-right:220px;
    margin-bottom: 200px;
    color:rgb(147, 108, 151);
    width: 55%;
    margin-right:0;
    column-gap: 520px;
}

#artistItem {
    padding: 20px;
    width: 500px;
}

#artistItem:hover{
    color:rgb(220, 162, 224);
}

#emerson{
    margin-left: 200px;
    margin-top:-20px;
}

#collection {
    /* font-family: 'Arizonia', cursive; */
    text-align: center;
    font-size: 35px;
    color:rgb(136, 99, 139);
    margin-top: 50px;
    margin-bottom:-20px;
}

.adminLinks {
    font-size: 15px;
    width: 200px;
}

.current {
    float:right;
    margin-top: 350px;
}

#string{
    margin-right: 100px;
}

#links {
    cursor: pointer;
}

.links {
    cursor: pointer;
}