.mainImage{
    width: 35%;
    height: 35%;
    margin-top: -450px;
    margin-left: 400px;
    /* display: block; */
    border: inset #b98e71 25px;
    border-radius: 2px;
    box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
}
.artistList {
    /* column-width: 150px; */
    columns: 2;
    list-style: none;
    font-size: 30px;
    margin-left: 220px;
    /* margin-top: 50px; */
    margin-right:220px;
    margin-bottom: 200px;
    color:rgb(114, 84, 117);
    width: 55%;
    margin-right:0;
    column-gap: 520px;
}

#artistItem {
    padding: 20px;
    width: 500px;
}

#artistItem:hover{
    color:rgb(220, 162, 224);
}

#emerson{
    margin-left: 200px;
    margin-top:-20px;
    color: rgb(120, 64, 124);

}

#collection {
    /* font-family: 'Arizonia', cursive; */
    text-align: center;
    font-size: 35px;
    color:rgb(103, 75, 105);
    margin-top: 50px;
    margin-bottom:-20px;
}

.adminLinks {
display: inline-flex;
margin-left: 200px;
float: right;
font-size: 15px;
margin-top: -80px;
}
.adminLinks:hover {
    color:rgb(220, 162, 224);
}

.current {
    /* float:right; */
    margin-top: 300px;
    margin-left: 1000px;
}

#string{
    margin-right: 100px;
}

#links {
    cursor: pointer;
    margin:0px;
    width: 110px;
 }

.links {
    cursor: pointer;
}