.nav-title {
    font-size: 72px;
    font-weight: 700;
    display: inline-block;
    color:rgb(151, 126, 172);
    padding-left: 10px;
    font-family: 'Arizonia', cursive;
    margin-left: 80px;
    margin-bottom:0px;
    margin-top:-1px;
}

.nav-link {
  float: left;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Cormorant Garamond', serif;


  /* these last two make the logout button in
  the nav bar look like another link */
  /* border:none; */
  /* cursor: pointer;
  outline:0; */
}

.nav-link:hover {
  /* background-color: rgb(210, 156, 219); */
    background-image: url("https://img.freepik.com/free-photo/close-up-white-marble-texture-background_53876-63512.jpg?size=626&ext=jpg");    

}

.nav-right {
  float: right;
}