p {
    font-size: 25px;
    margin-left: 100px;
}

textArea {
    margin-left: 100px;
    margin-top: 50px;
}

#submit {
    background-color:rgb(208, 174, 236);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-left:15px;

}